.clock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background: #121212;
}

.clock--red {
  color: rgba(255, 0, 0, 0.6);
}

@media (min-width: 600px) {
  .clock {
    flex-direction: row;
  }
}

.display {
  --flap-width: min(72vw, 36vh);
  --flap-height: calc(var(--flap-width) * 0.5);
  --flap-border-radius: 1rem;
  --flap-font-size: calc(var(--flap-width) * 0.75);
  --flap-animation-duration: 0.5s;
  --flap-animation-timing-function: linear;
  position: relative;
  width: var(--flap-width);
  height: calc(var(--flap-height) * 2);
}

@media (min-width: 600px) {
  .display {
    --flap-width: min(36vw, 72vh);
    --flap-padding: 0.1875rem;
    --flap-border-radius: 2rem;
  }
}

.display__top-tight-flap,
.display__top-loose-flap,
.display__bottom-tight-flap,
.display__bottom-loose-flap {
  display: block;
  position: absolute;
  width: var(--flap-width);
  height: var(--flap-height);
  overflow: hidden;
  text-align: center;
  font-size: var(--flap-font-size);
  font-weight: 700;
}

.display__top-tight-flap::before,
.display__top-loose-flap::before,
.display__bottom-tight-flap::before,
.display__bottom-loose-flap::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: var(--flap-width);
  height: var(--flap-height);
  background-color: #212121;
  z-index: -1;
}

.display__top-tight-flap,
.display__top-loose-flap {
  clip-path: polygon(0% 0%, 100% 0, 100% 98%, 0% 98%);
  border-top-left-radius: var(--flap-border-radius);
  border-top-right-radius: var(--flap-border-radius);
  line-height: calc(var(--flap-height) * 2);
}

.display__bottom-tight-flap,
.display__bottom-loose-flap {
  clip-path: polygon(0% 2%, 100% 2%, 100% 100%, 0% 100%);
  border-bottom-left-radius: var(--flap-border-radius);
  border-bottom-right-radius: var(--flap-border-radius);
  top: var(--flap-height);
  line-height: 0;
}

.display__top-loose-flap {
  transform-origin: bottom;
  transform: rotateX(0deg);
}

.display__bottom-loose-flap {
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flipUp {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flipDown {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.display__top-loose-flap--flipping {
  animation-name: flipUp;
  animation-duration: var(--flap-animation-duration);
  animation-timing-function: var(--flap-animation-timing-function);
}

.display__bottom-loose-flap--flipping {
  animation-name: flipDown;
  animation-duration: var(--flap-animation-duration);
  animation-timing-function: var(--flap-animation-timing-function);
}
