main {
  flex-grow: 1;
  background: gray;
}

.flap-display {
  --flap-width: 10rem;
  --flap-height: 8rem;
  --flap-animation-duration: 0.5s;
  --flap-animation-timing-function: linear;
  display: inline-block;
  position: relative;
  width: var(--flap-width);
  height: calc(var(--flap-height) * 2);
  text-align: center;
  font-size: 7rem;
  color: white;
  background: darkblue;
}

.flap {
  display: block;
  position: absolute;
  border-radius: 0.5rem;
  width: var(--flap-width);
  height: var(--flap-height);
  overflow: hidden;
  background-color: #212121;
}

.flap.back-top,
.flap.front-top {
  line-height: calc(var(--flap-height) * 2);
}

.flap.front-bottom,
.flap.back-bottom {
  top: var(--flap-height);
  line-height: 0;
}

.flap.front-top {
  transform-origin: bottom;
  transform: rotateX(0deg);
}

.flap.back-bottom {
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flipUp {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flipDown {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.flap.front-top.animating {
  animation-name: flipUp;
  animation-duration: var(--flap-animation-duration);
  animation-timing-function: var(--flap-animation-timing-function);
}

.flap.back-bottom.animating {
  animation-name: flipDown;
  animation-duration: var(--flap-animation-duration);
  animation-timing-function: var(--flap-animation-timing-function);
}
