main {
  flex-grow: 1;
  background: #080808;
}

.clock {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}


@media (min-width: 600px) {
  .clock {
    flex-direction: row;
  }
}

.flap-display {
  --flap-width: calc(70vw);
  --flap-height: calc(var(--flap-width) * 0.5);
  --flap-border-radius: 2rem;
  --flap-font-size: calc(var(--flap-width) * 0.75);
  --flap-animation-duration: 0.5s;
  --flap-animation-timing-function: linear;
  position: relative;
  width: var(--flap-width);
  height: calc(var(--flap-height) * 2);
  text-align: center;
  font-size: var(--flap-font-size);
  color: #bbbbbb;
}

.flap-display:not(:last-child) {
  margin-right: 0;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .flap-display {
    --flap-width: calc(35vw);
  }
  .flap-display:not(:last-child) {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.flap {
  display: block;
  position: absolute;
  width: var(--flap-width);
  height: var(--flap-height);
  overflow: hidden;
  background-color: #141414;
}

.flap.back-top,
.flap.front-top {
  border-top-left-radius: var(--flap-border-radius);
  border-top-right-radius: var(--flap-border-radius);
  line-height: calc(var(--flap-height) * 2);
}

.flap.front-bottom,
.flap.back-bottom {
  border-bottom-left-radius: var(--flap-border-radius);
  border-bottom-right-radius: var(--flap-border-radius);
  top: var(--flap-height);
  line-height: 0;
}

.flap.front-top {
  transform-origin: bottom;
  transform: rotateX(0deg);
}

.flap.back-bottom {
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flipUp {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flipDown {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.flap.front-top.animating {
  animation-name: flipUp;
  animation-duration: var(--flap-animation-duration);
  animation-timing-function: var(--flap-animation-timing-function);
}

.flap.back-bottom.animating {
  animation-name: flipDown;
  animation-duration: var(--flap-animation-duration);
  animation-timing-function: var(--flap-animation-timing-function);
}
