*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  background: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page--red {
  color: #ff0000;
}

.page__clock {
  flex-grow: 1;
}
