header {
  position: relative;
  top: 0;
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.87);
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

@media (min-width: 600px) {
  header {
    height: 4rem;
  }
}

header > h1 {
  white-space: nowrap;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

header > nav {
  display: flex;
  align-items: center;
}

header > nav > a,
header > nav > button {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.75rem;
  border-radius: 100%;
  cursor: pointer;
}

header > nav > a:hover,
header > nav > button:hover {
  background: rgba(255, 255, 255, 0.08);
}

header > nav > a:focus,
header > nav > button:focus {
  background: rgba(255, 255, 255, 0.24);
}

header > nav > a:active,
header > nav > button:focus {
  background: rgba(255, 255, 255, 0.32);
}

header.hidden {
  height: 0;
}
